/* ================================================ 1920 ==================================================== */

@media only screen and (max-width: 1920px) {
}



/* ================================================ 1600 ==================================================== */

@media only screen and (max-width: 1600px) {
	
}



/* ================================================ 1440 ==================================================== */

@media only screen and (max-width: 1440px) {
	
}



/* ================================================ 1366 ==================================================== */

@media only screen and (max-width: 1366px) {
	
}



/* ================================================ 1279 ==================================================== */

@media only screen and (max-width: 1279px) {
}



/* ================================================ 1024 ==================================================== */

@media only screen and (max-width: 1024px) {

	.maxwidth {
	    width: 95%;
	}

	.header-nav__pagination-container > div {
		max-width: 949px;
	}

}



/* ================================================ 1023 ==================================================== */

@media only screen and (max-width: 1023px) {

	.header-nav__pagination-container > div,
	 {
		max-width: 660px;
	}

	.maxwidth {
	    width: 95%;
	}

	footer .socials > div .socials__item {
		display: block;
		vertical-align: top;
		width: 100%;
		border: none;
	}

	footer .socials > div .socials__item:last-child {
		width: 100%;
		padding: 10px 0 0;
	}

	.body-container .info-with-image {
		text-align: center;
		margin-left: 0;
	}

}



/* ================================================ 768 ==================================================== */

@media only screen and (max-width: 768px) {

	.banner__container {
		&--left p {
			font-size: 18px;
		}

		&--left h1 {
			font-size: 42px;
		}
	}
}



/* ================================================ 767 ==================================================== */

@media only screen and (max-width: 767px) {

	.flight-info__item {
		display: block;
		width: 100%;
	}

	.flight-info__single_container {
		border: none;
	}

	.flight-info__single_container div {
		width: 33.3333%;
		&:last-child {
			text-align: right;
		}
	}

	.flight-info__item:nth-child(2),
	.flight-info__item:last-child .flight-info__single_container {
		padding-left: 0;
	}

	.flights-all-info__width-80 {
		width: 100%;
	}

	.flights-all-info__width-80 .left {
	    width: 100%;
	    > div {
	    	width: 33.333%;
	    	img {
	    		margin: 0 auto;
	    	}
	    }
	}

	.flights-all-info__width-80 .right {
	    width: 100%;
	    text-align: left;
		margin-top: 25px;
	}

	.flights-all-info__width-80 .left div:last-child {
		padding-left: 0;
		text-align: right;
	}

	.flights-all-info__width-20 {
		display: block;
		width: 100%;
		margin-top: 40px;
		p {
			top: 0;
		}
	}

	.section-table {
		width: 100%;
		max-width: none;
		box-sizing: border-box;
	}
}



/* ================================================ 600 ==================================================== */

@media only screen and (max-width: 600px) {
}



/* ================================================ 480 ==================================================== */

@media only screen and (max-width: 480px) {

	.banner__container {
		&--cta-button {
			margin-right: 0;
			margin-bottom: 5%;
			display: block;
			max-width: 50%;
			margin: 0 auto 5%;
			min-width: 160px;
		}
	}

	.testimonial {
		text-align: center;
	}
}



/* ================================================ 399 ==================================================== */

@media only screen and (max-width: 399px) {
}



/* ================================================ 320 ==================================================== */

@media only screen and (max-width: 320px) {
}