.header-nav {
	position: relative;
	height: 176px;
	width: 100%;
	background: #15223f;
	&__pagination-container {
		background: #fff;
    	width: 100%;
    	position: absolute;
    	bottom: 36px;
    	> div {
            width: 100%;
            max-width: 992px;
            margin: 0 auto;
            padding: 15px 0 30px 0;
            position: relative;
            display: flex;
            justify-content: space-between;
    	}
	}
    &__item {
        position: relative;
        span {
            position: absolute;
            top: 50%;
            @include transform(translatey(-50%));
            left: 0;
            right: 0;
            text-align: center;
        }
        label {
            position: absolute;
            right: 10px;
            font-size: 12px;
            text-transform: uppercase;
            color: #00226b;
            width: 100%;
            top: 30px;
        }
    }
    &__number-container {
        height: 24px;
        width: 24px;
        border-radius: 100%;
        background: #fff;
        color: #666666;
        border: 1px solid #cccccc;
        position: relative;
        margin: 0;
        font-size: 12px;
    }
    &__container--active {
        background: #ff9f00;
        color: #00226b;
        border: none;
    }
	&__hor-line {
	    height: 1px;
        width: 100%;
        background: #cccccc;
        position: absolute;
        top: 38%;
    	}
    &__header-text {
    	position: absolute;
    	bottom: 10px;
    	width: 100%;
    	max-width: 992px;
	    margin: 0 auto;
        left: -25px;
        right: 0;
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            img {
                margin: 0 10px;
            }
        }
    }
}