.header-nav {
	position: relative;
	height: 176px;
	width: 100%;
	background: #15223f;
	&__pagination-container {
		background: #fff;
    	width: 100%;
    	position: absolute;
    	bottom: 36px;
    	> div {
            width: 100%;
            max-width: 992px;
            margin: 0 auto;
            padding: 15px 0 30px 0;
            position: relative;
            display: flex;
            justify-content: space-between;
    	}
	}
    &__item {
        position: relative;
        span {
            position: absolute;
            top: 50%;
            @include transform(translatey(-50%));
            left: 0;
            right: 0;
            text-align: center;
            font-family: 'Proximanova-semibold';
        }
        label {
            position: absolute;
            right: 10px;
            font-size: 12px;
            text-transform: uppercase;
            color: #666666;
            width: 100%;
            top: 30px;
            font-family: 'Proximanova-rg';
        }
        &--active {
            > div {
                background: $darker_yellow;
                color: #00226b;
                border: none;
            }
            label {
                color: #00226b;
            }
        }
        &--two {
            label {
                right: 22px;
            }
        }
        &--three {
            label {
                right: -17px;
                width: 56px;
            }
        }
        &--fourth {
            label {
                right: 12px;
            }
        }
    }
    &__number-container {
        height: 24px;
        width: 24px;
        border-radius: 100%;
        background: #fff;
        color: #666666;
        border: 1px solid #cccccc;
        position: relative;
        margin: 0;
        font-size: 12px;
        label {
            color: #666666;
        }
    }
	&__hor-line {
	    height: 1px;
        width: 100%;
        background: #cccccc;
        position: absolute;
        top: 38%;
    	}
    &__header-text {
    	position: absolute;
    	bottom: 8px;
    	width: 100%;
    	max-width: 992px;
	    margin: 0 auto;
        left: -25px;
        right: 0;
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            color: #fff;
            font-family: 'Proximanova-semibold';
            img {
                margin: 0 10px;
            }
        }
    }
}
.flight-info {
    font-size: 0;
    width: 100%;
    margin: 0 auto;
    &__item {
        display: inline-block;
        width: 33.3333%;
        position: relative;
        padding-bottom: 15px;
        padding-top: 5px;
        @include box-sizing(border-box);
        &:last-child {
            .flight-info__single_container {
                border: none;
                padding-left: 20px;
                div {
                    width: 100%;
                }
            }
        }
        &:nth-child(2) {
            padding-left: 20px;
        }
    }
    &__single_container {
        width: 100%;
        border-right: 1px solid #cccccc;
        position: relative;
        @include box-sizing(border-box);
        div {
            display: inline-block;
            width: calc(33.3333% - 20px);
            vertical-align: middle;
            position: relative;
            p {
                font-family: 'Proximanova-bold';
                color: #000;
                margin: 0 0 8px;
            }
            img {
                margin: 0 auto;
            }
            .day {
                font-size: 12px;
                text-transform: uppercase;
            }
            .time {
                font-family: 'Proximanova-semibold';
                color: $darker_blue;
                font-size: 19px;
                text-transform: uppercase;
            }
            .location {
                font-family: 'Proximanova-bold';
                color: #333333;
                font-size: 12px;
                &--italic {
                    font-size: 12px;
                    font-family: 'Proximanova-rg';
                    color: #000;
                    font-style: italic;
                }
            }
        }
        h2 {
            font-size: 14px;
            font-family: 'Proximanova-rg';
            color: #000;
        }
        a {
            position: absolute;
            top: 0;
            right: 0;
            span {
                font-family: 'Proximanova-rg';
                color: #0254ec;
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
                @include box-sizing(border-box);
            }
            img {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                @include box-sizing(border-box);
            }
        }
    }
}
.body-container {
    width: 100%;
    border-top: 2px solid #d4d4d4;
    background: #f7f7f7;
    padding-bottom: 70px;
    &__max-width {
        width: 100%;
        margin: 0 auto;
        .edit-search {
            text-align: center;
            position: relative;
            img {
                margin: 0 auto;
            }
            span {
                position: absolute;
                left: 0;
                right: 0;
                text-transform: uppercase;
                font-size: 10px;
                color: #0254ec;
                top: 50%;
                font-family: 'Proximanova-semibold';
                @include transform(translatey(-50%));
            }
        }
    }
    .info-with-image {
        background: #e5e9f0;
        padding: 18px 32px;
        margin-top: 20px;
        img {
            display: inline-block;
            vertical-align: middle;
            @include box-sizing(border-box);
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font-family: 'Proximanova-bold';
            color: #00226b;
            font-size: 17px;
            margin-left: 20px;
            @include box-sizing(border-box);
        }
    }
}
.flights-all-info {
    position: relative;
    font-size: 0;
    margin-bottom: 30px;
    h2 {
        color: $darker_blue;
        font-size: 22px;
        font-family: 'Sigvar-Serial-Regular';
    }
    &__container {
        padding: 25px 20px 18px;
        border: 1px solid #cccccc;
        background: #fff;
        h3 {
            font-family: 'Proximanova-bold';
            color: #000;
            font-size: 13px;
        }
        .time {
            font-size: 24px;
            font-family: 'BakerSignetStd';
            color: $darker_blue;
            text-transform: uppercase;
            margin: 0 0 8px;
        }
        .location {
            font-family: 'Proximanova-bold';
            color: #000;
            font-size: 13px;
            margin: 0 0 5px;
        }
        .day {
            font-family: 'Proximanova-rg';
            color: #666666;
            font-size: 13px;
            margin: 0;
        }
    }
    &__width-80 {
        display: inline-block;
        width: calc(80% - 20px);
        vertical-align: top;
        @include box-sizing(border-box);
        > div {
            display: inline-block;
            vertical-align: top;
            @include box-sizing(border-box);
        }
        .left {
            width: 60%;
            div {
                width: calc(33.3333% - 30px);
                display: inline-block;
                vertical-align: top;
                @include box-sizing(border-box);
                &:nth-child(2) {
                    text-align: center;
                }
                &:last-child {
                    padding-left: 30px;
                }
                img {
                    margin-bottom: 5px;
                }
                label {
                    font-family: 'Proximanova-rg';
                    color: #666666;
                    font-size: 13px;
                }
            }
        }
        .right {
            width: 40%;
            p {
                font-family: 'Proximanova-rg';
                color: #000;
                font-size: 13px;
                margin: 0 0 5px;
            }
            a {
                font-family: 'Proximanova-rg';
                color: #0254ec;
                font-size: 13px;
            }
        }
    }
    &__width-20 {
        display: inline-block;
        width: calc(20% - 20px);
        vertical-align: top;
        text-align: center;
        @include box-sizing(border-box);
        p {
            font-family: 'Proximanova-bold';
            color: #1c5d49;
            font-size: 12px;
            text-transform: uppercase;
            margin: 0;
            position: relative;
            top: -15px;
            letter-spacing: 1px;
        }
    }
}
.section-table {
    position: relative;
    width: 100%;
    max-width: 764px;
    h2 {
        font-size: 22px;
        color: $darker_blue;
        font-family: 'Proximanova-rg';
        letter-spacing: 1px;
    }
    p {
        font-size: 14px;
        color: #000;
        font-family: 'Proximanova-rg';
        text-align: justify;
        line-height: 20px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #dddddd;
        th {
            font-family: 'Proximanova-bold';
            font-size: 14px;
            color: #000;
            width: 33.333%;
            background: #dddddd;
            text-align: left;
            padding-left: 25px;
            &:nth-child(2) {
                background: #457a7c;
                padding: 5px 0;
            }
            &:last-child {
                background: #244c5a;
                padding: 5px 0;
            }
            p {
                margin: 0;
                text-align: center;
                font-family: 'Proximanova-rg';
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                line-height: 15px;
                &:last-child {
                    font-family: 'Proximanova-bold';
                    text-transform: initial;
                }
            }
        }
        td {
            border-right: 1px solid #dddddd;
            p {
                font-family: 'Proximanova-bold';
                font-size: 13px;
                color: #666666;
                text-align: center;
                &.active {
                    color: #00226b;
                }
            }
            img {
                display: inline-block;
                vertical-align: middle;
                padding-left: 25px;
            }
            span {
                font-family: 'Proximanova-rg';
                font-size: 13px;
                color: #00226b;
                display: inline-block;
                vertical-align: middle;
            }
        }
        tr {
            background: #fff;
            &.diff-rows {
                background: #f7f8fa;
            }
            &.merge {
                td {
                    padding: 0 25px 10px;
                }
                p {
                    font-family: 'Proximanova-rg';
                    font-size: 13px;
                    color: #000;
                    text-align: left;
                    &:last-child {
                        font-family: 'Proximanova-bold';
                        font-size: 14px;
                        color: #000;
                    }
                }
                a {
                    font-family: 'Proximanova-rg';
                    color: #0254ec;
                    font-size: 13px;
                }
            }
        }
    }
    &__btns {
        text-align: right;
        margin-top: 40px;
    }
}
footer {
    .footer-nav {
        background: #fff;
        width: 100%;
        padding: 33px 0;
        width: 100%;
        margin: 0 auto;
        &__item {
            display: inline-block;
            vertical-align: top;
            width: calc(25% - 10px);
            padding-right: 10px;
            @include box-sizing(border-box);
            h3 {
                font-family: 'Proximanova-bold';
                color: #666;
                font-size: 12px;
                border-bottom: 1px solid #e2e2e2;
                padding-bottom: 12px;
            }
            li {
                a {
                    display: block;
                    font-family: 'Proximanova-rg';
                    color: #666;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
    .socials {
        width: 100%;
        margin: 0 auto;
        font-size: 0;
        border-bottom: 1px solid #666;
        padding-bottom: 20px;
        > div {
            display: inline-block;
            vertical-align: top;
            .socials__item {
                display: inline-block;
                vertical-align: top;
                width: 40%;
                border-right: 1px solid #666;
                @include box-sizing(border-box);
                &:last-child {
                   width: 60%;
                    padding-left: 20px;
                    border-right: none;
                    @include box-sizing(border-box);
                }
                ul {
                    li {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 10px;
                        font-family: 'Proximanova-bold';
                        color: #666;
                        font-size: 12px;
                        &:first-child {
                            margin-left: 0;
                        }
                        a {
                            font-family: 'Proximanova-rg';
                            color: #666;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &__left {
            width: 60%;
        }
        &__right {
            width: 40%;
            text-align: right;
            margin-left: -36px;
            li {
                display: inline-block;
                vertical-align: middle;
                a {
                    font-family: 'Proximanova-rg';
                    color: #666;
                    font-size: 12px;
                }
            }
            
        }
    }
    .copyright {
        width: 100%;
        margin: 0 auto;
        font-size: 0;
        border-bottom: 1px solid #666;
        padding-bottom: 20px;
        margin-top: 80px;
        position: relative;
        p {
            font-family: 'Proximanova-rg';
            color: #666;
            font-size: 12px;
        }
        img {
            position: absolute;
            right: 0;
            top: -45px;
        }
    }
}
